<div class="documentacao_api">
	<h1>Documentação da API</h1>

	<ul>
		<li><a href="#Entidades">Entidades</a></li>
		<li><a href="#Terceiros">Terceiros</a></li>
		<li><a href="#Produtos">Produtos</a></li>
		<li><a href="#Pedidos">Pedidos</a></li>
	</ul>

	<%= render :partial => 'entidades' %><br />
	<%= render :partial => 'terceiros' %><br />
	<%= render :partial => 'produtos' %><br />
	<%= render :partial => 'pedidos' %>
</div>