<h2>Cronograma</h2>
<h3>Primeira Fase: Proposta</h3>
<p>Nesta fase, os participantes deverão preencher o formulário de proposta de projeto, e estarão sujeitos a aprovação de suas ideias segundo as datas descritas:</p>
	<ul>
		<li>7 dias para a proposta inicial;</li>
		<li>2 dias para a avaliação da primeira proposta por parte do comitê julgador;</li>
		<li>5 dias da segunda proposta*;</li>
		<li>1 dia para a avaliação da segunda proposta por parte do comitê julgador;</li>				
	</ul>
<h5>*permitido somente para as equipes que tiverem a primeira proposta negada.</h5>
	
<p>Caso a proposta seja negada pela segunda vez, e não havendo prazo para nova aprovação, o time perde o direito de participar do concurso.</p>

<h3>Segunda Fase: Desenvolvimento</h3>
<p>Será disponibilizado o prazo de até 45 dias após o término da primeira fase.</p>

<h3>Terceira Fase: Apresentação</h3>
<p>Poderão ser agendadas pré-apresentações do projeto à conselheiros, no período de até 7 dias após o término da segunda fase.<br />
Esta pré-apresentação deverá ter duração de até 20 minutos, dentre eles com 10 minutos para perguntas, dúvidas e sugestões dos conselheiros envolvidos.<br />
O conselho será escolhido pelo comitê julgador e será independente e imparcial.<br />
Após esse período, será realizada a apresentação final, envolvendo a comissão julgadora e acontecerá nos moldes anteriores em período ainda indeterminado.
</p>