<h2>O que é?</h2>
<p>O littleBIGjob é um concurso que visa premiar boas ideias dos colaboradores e oferecer a oportunidade de publicá-las usando os recursos de nossa empresa.</p>

<h2>Objetivo</h2>
<ul>
	<li>Oferecer a oportunidade de conhecer novas tecnologias por meio de atividades úteis e premiadas;</li>
	<li>Agregar experiência à carreira profissional;</li>
	<li>Permitir uma participação ainda mais direta do departamento de desenvolvimento no crescimento da empresa e do produto;</li>		
	<li>Aumentar a aderência do nosso produto ao mercado;</li>
	<li>Ser beta no modelo de negócio VPSA Store.</li>				
</ul>

<h2>Quem pode participar?</h2>
<p>Poderão ser inscritos participantes individuais ou duplas. Ambos serão denominados “time”.<br />
Apenas colaboradores do departamento de tecnologia (TI, QA e DEV) podem participar.<br />
Cada time pode apresentar apenas 1 projeto.
</p>

<h2>Como participar?</h2>
<p>Será disponibilizado um ambiente com a aplicação VPSA para o concurso (Webservices e base de dados) com livre acesso pelos participantes. <br />
A utilização desse ambiente deve ser obrigatória.<br />
O desenvolvimento do projeto poderá ser realizado em qualquer tecnologia. <br />
Os participantes deverão submeter o código da aplicação ao repositório criado para o concurso. <br />
Todos os direitos sobre os artefatos desenvolvidos serão de propriedade da VPSA.
</p>

<h2>Premiação</h2>
<p>Cada participante do time vencedor receberá sua premiação de acordo com a seguinte classificação:<br />
1º Lugar: 1 IPad 2 de 16GB para cada integrante do time<br />
2º Lugar: 1 XBox 360 + Kinect para cada integrante do time<br />
3º Lugar: 1 IPod Touch 8GB para cada integrante do time<br />
</p>

<h2>Resultado</h2>
<p>Os vencedores serão anunciados em evento interno com a participação de todos em datas definidas no cronograma anunciado.</p>