<h2>O que é?</h2>
<p>O “littleBIGjob” é um concurso que visa premiar boas ideias dos colaboradores e oferecer a oportunidade de publicá-las usando os recursos de nossa empresa.</p>
<p>
Neste sentido, a sua participação e aderência no “littleBlGjob” implica na sua concordância com o aproveitamento, pela empresa, da sua ideia, se ela for premiada, bem como na divulgação da mesma e de seu nome, nos meios de comunicação eleitos pela VPSA.
</p>
<p>
Mediante sua inscrição no concurso, você entende e concorda que a sua ideia premiada ou honrosamente mencionada poderá ser aproveitada pela VPSA, que terá todos os direitos intelectuais e materiais sobre ela, podendo utilizá-la como melhor lhe convier. Neste sentido, a partir de sua inscrição, você concorda em transferir à VPSA ou a quem esta indicar, propriedade intelectual da sua ideia e artefatos dela decorrentes, se o seu time for premiado ou sujeito de menção honrosa.
</p>

<h2>Objetivo</h2>
<ul>
	<li>Oferecer a oportunidade de apresentar e  conhecer novas tecnologias por meio de atividades úteis e premiadas;</li>
	<li>Agregar experiência à sua carreira profissional;</li>
	<li>Permitir uma participação ainda mais efetiva do departamento de desenvolvimento, no crescimento da empresa e elaboração e aprimoramento do produto;</li>		
	<li>Aumentar a aderência do produto VPSA ao mercado;</li>
	<li>Ser <i>beta</i> no modelo de negócio VPSA Store.</li>				
</ul>

<h2>Quem pode participar?</h2>
<p>Os colaboradores poderão inscrever-se individualmente ou em duplas. Ambos serão denominados “time”.</p>
<p>O time não poderá ter sua estrutura de pessoas alterada após a inscrição do projeto.</p>
<p>Apenas colaboradores do departamento de tecnologia (TI, QA e DEV) podem participar.</p>
<p>Cada time pode apresentar apenas 1 projeto.</p>

<h2>Como participar?</h2>
<p>Será disponibilizado um ambiente com a aplicação VPSA para o concurso (Webservices e base de dados) com livre acesso pelos participantes.</p>
<p>A utilização desse ambiente é obrigatória para o desenvolvimento do projeto, que poderá ser realizado em qualquer tecnologia.</p>
<p>Os participantes deverão submeter todo e qualquer código da aplicação ao repositório criado para o concurso.</p>
<p>Somente serão considerados como participantes os projetos:</p>
<ul>
	<li>Descritos consoante o Template constante do Anexo 1: “Formulário de Proposta de Projeto”, </li>
	<li>Totalmente aderentes às regras estabelecidas nesta sessão.</li>
</ul>

<h2>Premiação e Propriedade</h2>
<p><strong>Cada participante</strong> do time vencedor receberá sua premiação de acordo com a seguinte classificação:<br />
1º Lugar: 1 iPad 2 16GB Preto <br />
2º Lugar: 1 Console Microsoft Xbox 360 c/ 4GB de Memória + Kinect + Jogo Kinect Adventures - X360<br />
3º Lugar: 1 iPod Touch 8GB<br />
</p>

<h2>Critérios de Avaliação</h2>
<ul>
	<li><strong>Originalidade e Inovação</strong>: Ideias novas, ainda não pensadas ou melhora de operações e processos, ou softwares já existentes.</li>
	<li><strong>Valor para o Negócio</strong>: Quanto o projeto/ideia aumenta a aderência do produto ao mercado ou quanto melhora ou aperfeiçoa operações do usuário VPSA.</li>
	<li><strong>Apresentação do Software</strong>: Como o software interage com o usuário. Ex: Usabilidade, ortografia, qualidade visual.</li>
	<li><strong>Apresentação do Projeto</strong>: Qualidade da demonstração da ideia e produto frente ao comitê julgador. Apresentação pessoal e qualidade do material disponibilizado.</li>
</ul>
<p>O julgamento será realizado por um Comité Julgador, composto de: Mário Aoki, Paulo Krug, Valtanette de Paula e um jurado independente eleito pela empresa.
<br />
Caberá ao Comité Julgador resolver qualquer questão relacionada ao Concurso, devendo decidir de forma aderente às regras estipuladas neste documento ou, no caso de lacuna de regra, terá liberdade para decidir conforme as melhores práticas.
</p>

<h2>Resultado</h2>
<p>Os vencedores serão anunciados em evento interno com a participação de todos em datas definidas no cronograma anunciado.</p>
<p>Não caberá recurso acerca do resultado divulgado pelo Comité Julgador, que é soberano em sua decisão e único órgão julgador.</p>