<div class="textos">
      <h1>O que é?</h1>
      <p>“littleBIGjob” é um concurso que visa premiar boas ideias dos colaboradores e oferecer a oportunidade de publicá-las usando os recursos de nossa empresa.</p>
      <h1>Objetivo do Concurso</h1>
      <p>
      <ul>
        <li>Oferecer a oportunidade de conhecer novas tecnologias por meio de atividades úteis e premiadas;</li>
        <li>Agregar experiência à carreira profissional;</li>
        <li>Permitir uma participação ainda mais direta do departamento de desenvolvimento no crescimento da empresa e do produto;</li>
        <li>Aumentar a aderência do nosso produto ao mercado;</li>
        <li>Ser <i>beta</i> no modelo de negócio VPSA Store.</li>
      </ul>
      </p>
      <h1>Premiação</h1>
    </div>
    <div id="premiacao">
      <div class="base primeiro">
      	<%= link_to image_tag('1_lugar_premio.png', :border => 0, :width => 400, :height => 200), 'http://www.apple.com/br/ipad/', :target => '_blank' %>
      </div>
      <div class="base segundo">
      	<%= link_to image_tag('2_lugar_premio.png', :border => 0, :width => 400, :height => 200), 'http://www.xbox.com/pt-BR/Xbox360?xr=shellnav', :target => '_blank' %>
      </div>
      <div class="base terceiro"> 
				<%= link_to image_tag('3_lugar_premio.png', :border => 0, :width => 400, :height => 200), 'http://www.apple.com/br/ipod/', :target => '_blank' %>
			</div>
    </div>